/* Navigation.css */
/* button .logout {
  text-align: center;
  width: 100px;
}

nav {
  background-color: #514848;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffc107;
}*/

/* Responsive styles */
/*@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 1.2rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
} */
/* Navigation.css */
nav {
  background-color: #514848;
  overflow: hidden;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permettre le retour à la ligne en cas de manque d'espace */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav li {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.4rem;
  margin-right: 20px; /* Ajouter de l'espace entre les liens */
}

nav a:hover {
  color: #ffc107;
}

button.logout {
  background-color: transparent; /* Fond transparent */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex; /* Permettre l'alignement vertical du texte et de l'icône */
  align-items: center;
}

button.logout i {
  margin-right: 5px; /* Espacement entre l'icône et le texte */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  nav ul.nav-links {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 1.2rem;
    margin: 10px 0;
    margin-right: 0; /* Supprimer l'espace entre les liens */
  }

  button.logout {
    font-size: 1.2rem;
    width: 100%;
    justify-content: center;
    padding: 15px;
  }
}

/* Navigation.css */
/* nav {
  background-color: #514848;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.4rem;
  margin: 0 20px;
}

nav a:hover {
  color: #ffc107;
}

button.logout {
  background-color: #514848;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 5px;
}


.burger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.burger-button.open .bar:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.burger-button.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-button.open .bar:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-links.open {
  flex-direction: column;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  background-color: #514848;
  transition: top 0.3s;
}

.nav-links.open li {
  margin: 10px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .burger-button {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav.open ul {
    display: flex;
  }
}
*/
